.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
}

.profile-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.profile-details {
    margin-right: 40px;
}

.profile-details-name {
    font-size: 26px;
    font-family: "Poppins SemiBold";
}

.profile-details-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.profile-details-role h1 {
    font-size: 60px;
    font-family: 'Teko';
    color:rgb(69, 190, 255);
}

.primary-text {
    color: (--white)
}

.highlighted-text {
    color:rgb(69, 190, 255);
}

.profile-role-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.profile-options button {
    font-size: 20px;
    width: 10em;
}

.profile-options .highlighted-btn {
    margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    background-color: cornsilk;
    color:black;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
}

.icon-container {
    height: 92%;
    width: 92%;
    background-size: cover;
    border-radius: 50%;
    margin-top: 2em;
    margin-right: 6em;
}

.colz-icon {
    color: whitesmoke;
    padding: 8px;
    padding-left: 0px;
}

.colz-icon svg {
    margin: 10px;
}

.colz .colz-icon svg:hover {
    transform: scale(1.5);
    box-shadow: inset;
}

@media screen and (max-width: 1110px) {
    .profile-picture {
        margin: 0 0px 0 80px;
    }
    .profile-details-name {
        font-size: 20px;
    }

    .profile-details-role .primary-text {
        font-size: 12px;
    }
    .profile-options .btn {
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
}

@media screen and (max-width: 810px) {
    .profile-parent {
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .profile-options {
        display: flex;
        justify-content: space-between;
    }

    .profile-details {
        margin: 25px 0 0;
    }
    
    .profile-options .highlighted-btn {
        margin: 0 !important;
    }

    .profile-options, .profile-details-role {
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .profile-details {
        width: 90%;
    }
}